---
layout: default
title: MS & Kraje
paginate:
  collection: people
  permalink: /:num/
  limit: false
  per_page: 10
  reversed: true
  category: ['page']
  title_suffix: " - stránka :num"

cities:
  - title: Praha
  - title: České Budějovice
  - title: Plzeň
  - title: Karlovy Vary
  - title: Ústí nad Labem
  - title: Liberec
  - title: Hradec Králové 
  - title: Pardubice
  - title: Jihlava
  - title: Brno
  - title: Olomouc
  - title: Ostrava
  - title: Zlín
regions: 
  - title: Hlavní město Praha
    city: Praha
    img: http://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Praha_CoA_CZ_small.svg/260px-Praha_CoA_CZ_small.svg.png
  - title: Středočeský kraj
    city: Praha
    img: http://www.mb-eko.cz/sites/default/files/images/hlavni/aktualita/podrobna-mapa-ozko-2010-pro-stredocesky-kraj-i-orp-mb/znak-stc-bar1.png
  - title: Jihočeský kraj
    city: České Budějovice
    img: https://rekos.psp.cz/images/znaky/znak-jihoceskeho-kraje-v.png
  - title: Plzeňský kraj
    city: Plzeň
    img: 
  - title: Karlovarský kraj
    city: Karlovy Vary
    img: 
  - title: Ústecký kraj
    city: Ústí nad Labem
    img: 
  - title: Liberecký kraj
    city: Liberec
    img: 
  - title: Královéhradecký kraj
    city: Hradec Králové 
    img: 
  - title: Pardubický kraj
    city: Pardubice
    img: 
  - title: Kraj Vysočina
    city: Jihlava
    img: 
  - title: Jihomoravský kraj
    city: Brno
    img: 
  - title: Olomoucký kraj
    city: Olomouc
    img: 
  - title: Moravskoslezský kraj
    city: Ostrava
    img: 
  - title: Zlínský kraj
    city: Zlín
    img: 


profiles:
  - url: ceska.piratska.strana
    title: Česká Pirátská strana
  - url: piratskenoviny
    title: Pirátské Noviny    
  - url: piratzabransky
    title: Adam Zábranský
  - url: zdenek.hrib.primator
    title: Pirátor - Zdeněk Hřib
  - url: peksamikulas
    title: Mikuláš Peksa 
  - url: PiratKolaja
    title: Marcel Kolaja   
  - url: gregorova.marketka
    title: Markéta Gregorová     
  - url: giuseppeEthnos
    title: Giuseppe Maiello
  - url: WagenknechtLuk
    title: Lukáš Wagenknecht
  - url: Tibor-Vansa-1727147680923456
    title: Tibor Vansa
  - url: ujhelyiovazuzana
    title: Zuzana Ujhelyiová    
  - url: pirat.kosak
    title: Ladislav Kos ml.
  - url: petr.vileta
    title: Petr Vileta
  - url: PiratMadera
    title: Luděk Maděra
  - url: OndrejVojta.Pirati
    title: Ondřej Vojta    
  - url: VyOseni
    title: VyOseni
  - url: piratskastrana
    title: Slovenská Pirátská strana
  - url: PiratskaTvrz
    title: Pirátská tvrz Majetín a Brodek
  - url: Pirate-Party-Liberland-1434883813478528
    title: Liberland
  - url: piratskelisty
    title: Pirátské listy    
  - url: PirativSenatu
    title: Piráti v Senátu
  - url: ivan.bartos.37
    title: Ivan Bartoš
  - url: zdenek.hrib
    title: Zdeněk Hřib
  - url: olga.richterova
    title: Olga Richterová
  - url: radek.holomcik
    title: Radek Holomčík
  - url: smidak
    title: Jakub Michálek
  - url: mikulas-peksa
    title: Mikuláš Peksa
  - url: lukas.cernohorsky
    title: Lukáš Černohorský
  - url: dana.balcarova
    title: Dana Balcarová
  - url: honzyk
    title: Jan Lipavský
  - url: vpikal
    title: Vojtěch Pikal
  - url: lenka.kozlova.5
    title: Lenka Kozlová
  - url: ArAx666
    title: Jan Pošvář
  - url: bartonlk
    title: Lukáš Bartoň
  - url: ondrej.polansky
    title: Ondřej Polánský
  - url: tom.vymazal
    title: Tomáš Vymazal
  - url: mikfer
    title: Mikuláš Ferjenčík
  - url: tmartinek
    title: Tomáš Martínek
  - url: kolarikl
    title: Lukáš Kolis Kolářík
  - url: martin.jiranek.trutnov
    title: Martin Jiranek
  - url: ondrej.profant
    title: Ondřej Profant
  - url: FrantisekElfmark.DiS
    title: František Elfmark
  - url: petr.tresnak
    title: Pavel Třešňák
  - url: frantisek.kopriva.5
    title: František Kopřiva
  - url: pavel.nazarsky
    title: Pavel Nazarsky
  - url: michaela.schwarzova.9
    title: Michaela Schwarzova
  - url: jiri.kratky.334
    title: Jiří Krátký
  - url: KapitanDoSenatu
    title: Kapitán do Senátu - Jiří Krátký  
  - url: SeSemikemDoSenatu
    title: Skočte se Šemíkem do Senátu
  - url: Petr-Chaluš-hlas-rodičů-v-Senátu-1500953270008675
    title: Petr Chaluš hlas rodičů v Senátu
  - url: Jaroslav-Kučera-Česká-pirátská-strana-120911778722
    title: Jaroslav Kučera - Kralupy nad Vltavou
  - url: profile.php?id=100007651844872
    title: Viktor Krutina
  - url: karelstogl2018
    title: Karel Štogl
  - url: daniela.weissova.9
    title: Daniela Weissová
  - url: PiratePartySwitzerland
    title: Switzerland
  - url: piratskakampan
    title: Pirátská kampaň  
  - url: PiratskeHlasky
    title: Pirátské hlášky
  - url: VolimPiraty
    title: Volím Piráty
  - url: piratskyobchod
    title: Pirátský obchod
  - url: pirati.cz
    title: pirati.cz
  - url: BezPiratuBychNezil
    title: Bez Pirátů bych nežil
  - url: mladipirati
    title: Mladí piráti
  - url: piratiastarostove
    title: Piráti a Starostové
  - url: PiratskaJoga
    title: Pirátská Jóga
  - url: psychotropnipirati
    title: Psychotropní látky
  - url: piratskaevropa
    title: Pirátská Evropa
  - url: pirati.po
    title: Personální odbor
  - url: piratidohospod
    title: Pirátky a Piráti do hospod
  - url: hynek.melicharOL
    title: Hynek Melichar
  - url: Pirátské-divadlo-347704252665998
    title: Pirátské divadlo
  - url: Brejsa.Pirati
    title: Zdeněk Brejša
  - url: smepiratibratislava
    title: Bratislava
  - url: piratijsoulidi
    title: Piráti jsou lidi  
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v3.0&appId=2235607716657991&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{{ paginator.tag }}
<div class="row">
  <div class="columns">
    <div class="o-section">
      <div class="o-section-inner">
          <header class="c-page-header">
            <h1 itemprop="headline" class="c-page-title">{{ page.title }}</h1>
          </header>

          <ul>
          {% for profile in page.profiles %}
            <li>

              <a href="https://www.facebook.com/{{ profile.url }}">{{ profile.title }}</a>
              <div class="fb-like" data-href="https://www.facebook.com/{{ profile.url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </li>
          {% endfor %}
          </ul>

          {% for region in page.regions %}
            {{ region.url }}
            {{ region.title }}
            
            <img src="{{ region.img }}" />
            
            <br>
          {% endfor %}

          {% for post in paginator.people %}
            <li>
              <a href="https://www.facebook.com/{{ post.profiles.facebook }}">{{ post.name }}</a>
              <div class="fb-like" data-href="https://www.facebook.com/{{ post.profiles.facebook }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><br>
            </li>
          {% endfor %}

          {% include articles/pagination.html paginator=paginator %}
      </div>
    </div>
  </div>
</div>