---
layout: default
title: Členové
paginate:
  collection: people
  permalink: /:num/
  limit: false
  per_page: 10
  reversed: true
  category: ['member']
  title_suffix: " - stránka :num"  
---

<!-- https://github.com/octopress/paginate -->
{{ paginator.tag }}
<div class="row">
  <div class="columns">
    <div class="o-section">
      <div class="o-section-inner">
          <header class="c-page-header">
            <h1 itemprop="headline" class="c-page-title">{{ page.title }}</h1>
          </header>

          {% for post in paginator.people %}
            <li>
              <a href="https://www.facebook.com/{{ post.profiles.facebook }}">{{ post.name }}</a>
              <div class="fb-like" data-href="https://www.facebook.com/{{ post.profiles.facebook }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><br>
            </li>
          {% endfor %}

          {% include articles/pagination.html paginator=paginator %}
      </div>
    </div>
  </div>
</div>